<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Codequest</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Parisienne&family=Pixelify+Sans:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <div class="background-wrapper">
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-image: url("../assets/background_landing.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
  }

  .background-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1067 / 5598;
    min-height: 100vh;
  }
</style>
