---
import About from "../components/landing/About.astro";
import Competitions from "../components/landing/Competitions.astro";
import Faq from "../components/landing/Faq.astro";
import Hero from "../components/landing/Hero.astro";
import Mentor from "../components/landing/Mentor.astro";
import Navbar from "../components/landing/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Navbar />
  <Hero />
  <Competitions />
  <div style="height: 32vh;"></div>
  <About />
  <div style="height: 10vh;"></div>
  <Faq />
  <Mentor />
</Layout>
