---

---

<div class="about" id="about">
  <h1>About</h1>
  <p class="vision">
    Code Quest is a hackathon inspired by game-like adventure. Participants
    enter a digital dungeon where each challenge represents a real-world
    problem, from business efficiency to education, sustainability, and social
    impact.
  </p>
  <p class="mission">
    The mission is simple: Build technology that is powerful, creative, and
    meaningful.
  </p>
  <div class="box">guidebook.doc</div>
</div>

<style>
  .about {
    position: absolute;
    top: 24.1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 70vh;
  }

  .about h1 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 4rem;
    margin: 0;
    color: #f7d028;
    margin: 0;
    margin-bottom: 10vh;
  }

  .vision,
  .mission {
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: "Pixelify Sans", sans-serif;
    margin: 0;
    width: 60%;
  }

  .vision {
    color: white;
  }

  .mission {
    color: #f7d028;
  }

  .box {
    background-color: #f7d028;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.2rem;
    text-align: center;
  }
</style>
