<section>
  <h2>Group Information</h2>

  <div class="form-group">
    <label>Group Name</label>
    <input type="text" id="groupName" placeholder="Enter your group name" />
    <small class="error-text" id="groupError"></small>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Enter your password" />
    <small id="passwordError" class="error-text"></small>
  </div>

  <div class="form-group">
    <label>Confirm Password</label>
    <input
      type="password"
      id="confirmPassword"
      placeholder="Confirm your password"
    />
    <small id="confirmError" class="error-text"></small>
  </div>

  <div class="form-group">
    <label>Status</label>
    <select id="status">
      <option value="" disabled selected hidden> Select status </option>
      <option value="binusian">Binusian</option>
      <option value="non-binusian">Non-binusian</option>
    </select>
    <small id="statusError" class="error-text"></small>
  </div>
</section>
